#brand img{
    width:200px;
    height: 70px;
}

*{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 1.5;

}

#carouselExampleCaptions h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2rem;
    position: relative;
    
}

.small-img{
    width:50px;
    height: auto;
}

.img-r{
    text-align: right;
}

.img{
    text-align: right;
}

nav .nav-link:hover{
    border-bottom: 2px solid #fff;
}

.red{
    background: rgb(255, 0, 0);
}

#pov{
    background: 
     linear-gradient(
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6)
     ),
      url("img/f1-bg-5.jpg");
      position: relative;
     background-position: center;
     opacity:0.95;
     background-repeat: no-repeat;
     background-size: cover;
     color:#fff;
     padding-top:75px;
 }

 #pov h1{
     text-align: center;
     font-family:'Yusei Magic', sans-serif;
     margin-bottom: 20px;
     
 }

 header h1{
    text-align: center;
    font-family:'Yusei Magic', sans-serif;
    padding-top:10px;
 }

 #mercedes{
     padding:5px;
     border-right: 2px solid #000;
     border-top: 2px solid #000;
     border-radius: 10px;
 }

 #alpine{
    border-right: 2px solid rgb(0, 60, 255);
    border-top: 2px solid  rgb(0, 60, 255);
    border-radius: 10px;
}

#haas{
    border-right: 2px solid rgb(0, 5, 22);
    border-top: 2px solid  rgb(0, 5, 22);
    border-radius: 10px;
}

#mclaren{
    border-right: 2px solid rgb(214, 182, 0);
    border-top: 2px solid  rgb(214, 182, 0);
    border-radius: 10px;
}

#alfa{
    border-right: 2px solid rgb(243, 95, 50);
    border-top: 2px solid  rgb(243, 95, 50);
    border-radius: 10px;
}

#red{
    border-right: 2px solid rgb(0, 60, 255);
    border-top: 2px solid  rgb(0, 60, 255);
    border-radius: 10px;
}

#aston{
    border-right: 2px solid rgb(0, 255, 136);
    border-top: 2px solid  rgb(0, 255, 136);
    border-radius: 10px;
}

#ferrari{
    border-right: 2px solid rgb(230, 16, 1);
    border-top: 2px solid  rgb(230, 16, 1);
    border-radius: 10px;
}

#alpha{
    border-right: 2px solid rgb(0, 5, 22);
    border-top: 2px solid  rgb(0, 5, 22);
    border-radius: 10px;
}

#williams{
    border-right: 2px solid rgb(0, 60, 255);
    border-top: 2px solid  rgb(0, 60, 255);
    border-radius: 10px;
}

.timovi h5{
    font-family:'Yusei Magic', sans-serif;
}

 h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#vozaci{
    padding-top:50px;
}

 

 #pov .container{
     width:80%;
     margin: 0 auto;
 }

 #pov p{
    font-family: 'Roboto', monospace;
    font-size:1.1rem;
    
 }

 .row{
     padding:20px;
 }

 #pov h4{
     color:rgb(189, 189, 189);
     font-size:1.6rem;
    
 }

 .text-dark{
     background: rgb(184, 184, 184);
 }

 .wrap{
     background:rgb(155, 155, 155);
 }

 .right{
     text-align: right;
 }

 .icon{
     font-size: 1.5rem;
     font-weight: 900;
 }

 .video-container {
      position: relative;
       padding-bottom: 56.25%; 
       padding-top: 30px; 
       height: 0; 
       overflow: hidden;
     }

     .img{
         text-align:center;

     }

.video-container iframe, .video-container object, .video-container embed 
{
     position: absolute;
      top: 0; 
      left: 0; 
      width: 100%;
       height: 100%; 
    }

    .side-bar h3{
        padding: 15px 0;
    }

    .episodes h5{
        color:rgb(0, 38, 252);
        font-family:'Yusei Magic', sans-serif;
    }

    .episodes span{
        color:rgb(180, 179, 179);
    }

    #serija-naslov{
        font-family:'Yusei Magic', sans-serif;
        font-size:2rem;
    }


 .carousel-caption{
     position: relative;
 }

 .w-100 {
    width: 100% !important;
    height: 90vh;
  }

  .current{
      font-weight: 900;
  }

  .sub-nav a:hover{
      border-bottom: 2px solid rgb(255, 25, 25);
      
  }

 @media (max-width: 1000px) {
    #pov .container{
        width:100%;
        margin: 0 auto;
    }

    #pov{
        background-position: right;
    }

    *{
        font-size:16px;
    }
 }

 footer{
     background: rgb(11, 11, 11);
     color:#fff;
     padding:10px 5px;
     text-align: center;
 }

 #drivers{
    background: 
    linear-gradient(
      rgba(168, 168, 168, 0.6),
      rgba(202, 202, 202, 0.6)
    ),
     url("img/bg-light.jpg");
     position: relative;
    background-position: center;
    opacity:0.95;
    background-repeat: no-repeat;
    background-size: cover;
 }

.sub-nav a{
     color:#000;
     font-size: 12px;
     
 }

 #drivers .container{
     padding-top:25px;
 }

 #hamilton,#verstappen,#bottas,#raikkonnen,#leclerc{
     background:rgb(226, 226, 226);
     border:1px solid rgb(226, 226, 226);
     border-radius: 10px;
 }

 table{
     width: 100%;
     overflow-x:auto;
 }



 th,tr{
    padding:10px;
 }

main h2{
    margin-bottom: 30px;
    margin-top: 30px;
}






 .ljestvica{
    width: 80%;
     text-align: center;
     margin:0 auto;
     font-family:'Yusei Magic', sans-serif;
 }

 tr span{
     color:rgb(85, 85, 85);
 }

 tr:nth-child(even) {background: rgb(223, 222, 222);}



 #drivers h5{
     color:rgb(150, 150, 150);
     font-size:2.4rem;
     text-align: center;
 }

 #drivers h1{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 #drivers h2{
     font-size:3.5rem;
     font-family:'Yusei Magic', sans-serif;

 }

 #drivers .col-lg-4{
     border-right: 2px solid rgb(49, 49, 49);
 }

 .grid{
     display: grid;
     grid-template-columns: 1fr 1.5fr;
 }

 #utrke{
     background: rgb(253, 250, 250);
 }

#utrke .red-c{
    color:red;
    
    font-size:1.2rem;
}

 #utrke h4{
     color:#fff;
     background:#000;
     border-radius:5px;
     width:50%;
     padding:5px;
 }

 #utrke .extend{
     width: 85%;
 }

 #utrke .col-lg-4{
     border-top: 2px solid rgb(255, 0, 0);
     border-right: 2px solid rgb(255, 0, 0);
     border-radius: 5px;
     padding: 5px;
     
    
 }

 #utrke .col-lg-4:nth-child(even) {
    border-top: 2px solid rgb(0, 81, 255);
    border-right: 2px solid rgb(0, 81, 255);
    border-radius: 10px;
 }

.center{
    text-align: center;
}

.tracks{
    display: none;
}

#utrke button{
    background-color: rgb(122, 0, 0);
    border-radius: 5px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#utrke h1{
    padding:30px 0;
    font-family:'Yusei Magic', sans-serif;

}

#utrke h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2rem;
}

#utrke h2{
    font-family:'Yusei Magic', sans-serif;
}



#utrke p{
    font-weight: 900;
}

.flag{
    width:100px;
    height: auto;
}

#najnovije h4{
    border-top:2px solid rgb(189, 189, 189);
    border-right: 2px solid rgb(189, 189, 189) ;
    border-radius:5px;
}

#najnovije h4{
    padding:5px;
}

.bg{
    width:100%;
    z-index: 0;
    border-left: 5px solid rgb(252, 0, 0);
    border-top: 5px solid rgb(252, 0, 0);
    border-radius:10px;
    margin-bottom: 20px;
}

#novosti a{
    text-decoration: none;
    color:#000;
}

#novosti a:hover{
    color:rgb(212, 0, 0);
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }

  #novosti .img{
      margin-bottom:20px ;
  }

  #kontakt input,label{
      padding:5px;
      margin-top:10px;
  }

  #kontakt input{
      width:100%;
  }

  #kontakt input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  @media only screen and (max-width: 800px){
        #drivers .w-100 {
            width: 100% !important;
            height: 75vh;
          }

          th,tr{
            padding:0px;
            
         }

         table{
            font-size:12px;
         }

         .ms-auto{
             text-align: left;
         }

         .ljestvica{
            width: 100%;
         
             
            
         }

        
  }

  @media (max-width: 750px) { 
      .hide{
          display: none;
      }

      .ljestvica{
        width: 80%;
     
         
        
     }

    

     .d-block{
         max-height: 200px;
     }
  }
    
  



